USER_EMAIL=
USER_PASSWORD=
DOWNLOAD_DIR=garmin_activities
DB_FILE=garmin_activities.db
LIMIT_ACTIVITIES=5                      # Limit the number of latest activities to download
FILENAME_TEMPLATE="{activityStartDateTime}_{activityName}"
RENAME_EXISTING_FILES=false             # Set to true to rename existing files in the download directory to match the filename template- This can help ensure consistency if you change the filename template after some activities have already been downloaded.    
REORDER_EXISTING_FILESTRUCTURE=true     # Set to true to reorder existing files in the download directory into the new folder structure based on the current configuration. This can help ensure consistency if you change the subfolder settings after some activities have already been downloaded.
DOWNLOAD_FORMAT=both                    # tcx, fit, both
SUBFOLDER_PER_FORMAT=true               # Set to true to create subfolders for each format (e.g., tcx, fit) within the main download directory. This can help keep files organized if you are downloading multiple formats.
SUBFOLDER_PER_ACTIVITYTYPE=true         # Set to true to create subfolders for each activity type (e.g., Running, Cycling) within the main download directory or format subfolders if SUBFOLDER_PER_FORMAT is also true. This can help keep files organized by activity type.
#DOCKERMODE=true           # Uncomment if you want to run in Docker mode, which will cause the downloader to run indefinitely and check for new activities at the specified interval
#DOWNLOADINTERVAL=86400.   # Default to 24 hours in seconds. Adjust as needed, especially if running in Docker mode. Note that Garmin Connect may have rate limits, so avoid setting this too low. 