USER_EMAIL=
USER_PASSWORD=
DOWNLOAD_DIR=garmin_activities
DB_FILE=garmin_activities.db
LIMIT_ACTIVITIES=5
FILENAME_TEMPLATE="{activityStartDateTime}_{activityName}"
RENAME_EXISTING_FILES=false
REORDER_EXISTING_FILESTRUCTURE=true
DOWNLOAD_FORMAT=both
SUBFOLDER_PER_FORMAT=true
SUBFOLDER_PER_ACTIVITYTYPE=true